.btn {
	border-radius: 30px;
	text-align: center;
	width: 210px;
	padding: 10px;
	box-sizing: border-box;
	font-size: 19px;
	outline: none;

	&:hover, &:active, &:focus {
		outline: none;
	}

	&.btn-default {
		border-color: $tinkoffYellow;
		background: transparent;
		color: $tinkoffYellow;

		&:hover, &:active, &:focus {
			background: $tinkoffYellow;
			border-color: $tinkoffYellow;
			color: $text-color;
		}
	}

	&.btn-primary {
		border-color: $tinkoffYellow;
		background: $tinkoffYellow;
		color: $text-color;

		&:hover, &:active, &:focus {
			background: $tinkoffYellowDarker;
			border-color: $tinkoffYellowDarker;
			color: $text-color;
		}
	}
}