$white: #ffffff;
$black: #000000;
$tinkoffDark: #060606;

$text-color: #303030;

$tinkoffBlue: #374557;
$tinkoffBlueLight: #4b5868;
$tinkoffBlueLighter: #5f6a79;
$tinkoffGray: #77808b;

$tinkoffLinkColor: #72a1c8;
$tinkoffBlueXLight: #d4dce9;
$tinkoffBlueXLighter: #fcfdfd;

$tinkoffYellow: #ffdc2d;
$tinkoffYellowDarker: #f8d213;

body {
	background: #fff;
	font: 300 15px/21px pragmatica, Arial, sans-serif;

	a {
		color: $tinkoffLinkColor;
		span {
			padding-left: 15px;
		}

		&:hover {
			color: $tinkoffLinkColor;
		}
	}

	.title {
		font: 300 50px/56px PFHighwaySansPro, Arial, sans-serif;
		color: $black;
		padding-bottom: 10px;
	}
	.description {
		font-size: 23px;
		line-height: 31px;
		color: $tinkoffGray;
	}
	.buttons {
		padding-top: 40px;
	}

	.border-top {
		border-top: 1px solid $tinkoffBlueXLight;
	}

	@media (max-width: $screen-xs-max) {
		.title {
			padding-bottom: 40px !important;
			font-size: 40px;
			line-height: 46px;
		}

		.description {
			font-size: 18px;
			line-height: 26px;
		}
		.buttons {
			padding-top: 20px;
		}
	}
}

.container {
	min-width: 320px;
}