footer {
	background: $tinkoffBlueXLighter;

	.footer-info {
		text-align: center;
		padding: 20px 0;
		font-size: 18px;
		line-height: 56px;
		color: $tinkoffGray;

		.footer-phone {
			font-size: 20px;
		}

		.footer-license {
			font-size: 17px;
			line-height: 23px;
			padding: 5px 0 15px;
			margin: 0;
		}

		.links {
			line-height: 23px;
			padding-bottom: 0;

			a {
				color: $tinkoffLinkColor;
				font-size: 15px;
				line-height: 21px;
			}

			span {
				padding: 0 5px;
				color: $tinkoffLinkColor;
			}
		}
	}

	@media (max-width: $screen-xs-max) {
		.footer-info {
			.footer-phone {
				display: block;
				line-height: 24px;
			}
			
			.footer-license {
				line-height: 26px;
				padding-bottom: 20px;
			}

			.links {
				padding-bottom: 0;
				a {
					display: inline-block;
					padding-bottom: 5px;
				}
				span {
					display: none;
				}

				&:last-child {
					a {
						&:last-child {
							padding-bottom: 0;
						}
					}
				}
			}
		}

	}

	.social-share_colorless {
		margin-top: 22px;
		line-height: 23px;

		.social-share__item {
			background: url('../img/footer-share-icons.png') no-repeat 0 0;
			display: inline-block;
			height: 45px;
			margin-right: 15px;
			vertical-align: top;
			width: 45px;

			&.social-share__item_vk {
				background-position: 0 0;
				&:hover {
					background-position: 0 -60px;
				}
			}
			&.social-share__item_fb {
				background-position: -60px 0;
				&:hover {
					background-position: -60px -60px;
				}
			}
			&.social-share__item_twitter {
				background-position: -120px 0;
				&:hover {
					background-position: -120px -60px;
				}
			}
			&.social-share__item_ok {
				background-position: -180px 0;
				&:hover {
					background-position: -180px -60px;
				}
			}
			&.social-share__item_google {
				background-position: -240px 0;
				&:hover {
					background-position: -240px -60px;
				}
			}
			&.social-share__item_youtube {
				background-position: -300px 0;
				&:hover {
					background-position: -300px -60px;
				}
			}
			&.social-share__item_instagram {
				background-position: -360px 0;
				&:hover {
					background-position: -360px -60px;
				}
			}
		}
	}

	.footer__list {
		padding: 0;
		margin: 0;

		.footer__list-item:first-child::before {
			display: none;
		}
		.footer__list-item::before {
			background: #74a3c7 none repeat scroll 0 0 padding-box;
			border-radius: 2px;
			content: "";
			display: inline-block;
			height: 4px;
			margin: 0 12px;
			vertical-align: middle;
			width: 4px;
		}
		.footer__list-item {
			display: inline-block;
			vertical-align: middle;
		}
	}
}