.navbar {
	background-color: $tinkoffBlue;
	margin: 0;
	border: none;
	border-radius: 0;
	.navbar-collapse {
		padding: 0;

		ul.navbar-nav {
			float: none;

			li {
				width: 25%;

				a {
					color: $white;
					font-size: 17px;
					padding: 20px 0;

					span {
						display: block;
						border-left: 1px solid $tinkoffBlueLighter;
						text-align: center;
					}

					&:hover, &:active, &:focus {
						background: transparent;
						span {
							border-color: transparent;
						}
					}
				}

				&.active, &:hover, &:active, &:focus {
					background: $tinkoffBlueLight;
					a {
						background: transparent;
						span {
							border-color: transparent;
						}
					}
					+ li {
						a {
							span {
								border-left-color: transparent;
							}
						}
					}
				}

				&:last-child {
					a {
						span {
							border-right: 1px solid $tinkoffBlueLighter;
						}
					}
					&.active, &:hover, &:active, &:focus {
						a {
							span {
								border-color: transparent;
							}
						}
					}
				}
			}
		}
	}
	
	@media (max-width: $screen-xs-max) {
		.navbar-header {
			.navbar-toggle {
				.icon-bar {
					background: #aaaaaa;
				}

				&.collapsed {
					.icon-bar {
						background: $white;
					}
				}
			}
		}

		.navbar-collapse {
			ul.navbar-nav {
				margin: 0;
				float: left;
				width: 100%;
				li {
					width: 100%;
					border-bottom: 1px solid $tinkoffBlueLight;
					&:last-child {
						border-bottom: none;
					}

					a {
						padding: 10px 0;
						font-size: 16px;
						span {
							text-align: left;
							border: none;
						}
					}
				}
			}
		}
	}
}